// out: null
//new subscription
.editable-subscribe {
    width: 800px;
    position: relative;
    min-height: 800px;
    margin: auto;
    transition: .5s;
    background: #ddd;
    .h1 {
        font-weight: normal;
        font-size: 20px;
        background: #9499aa;
        color: #3a435c;
        border-bottom: 1px solid #9499aa;
        margin: 0;
        width: 100%;
        padding: 0 20px;
    }
    button {
        cursor: pointer;
        height: 40px;
        margin: 20px auto 0;
        &:hover {
            background: @gold;
        }
        &.edit {
            display: initial;
            width: 60px;
            height: 25px;
            margin: 0;
            font-size: 13px;
            padding: 0;
            background: #dedede;
            color: @blue;
        }
    }
    .h2 {
        font-size: 16px;
        font-weight: normal;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px 0;
        width: 100%;
        text-align: left;
    }
    .h3 {
        .h2;
        border-bottom: none;
        font-family: 'Roboto Slab';
        display: flex;
        align-items: center;
        background: #ccc;
        padding: 5px;
        justify-content: space-between;
        &.active {
            background: @sky;
            .edit {
                display: none;
            }
        }
        &.edit-progress {
            .edit {
                display: none;
            }
        }
    }
    .help-line {
        width: 100%;
        font-size: 13px;
        position: absolute;
        right: 0px;
        border: 1px solid #f9b800;
        font-weight: lighter;
        top: 0;
        background: #ffe8a6;
        padding: 2px 6px;
    }
    .required {
        .help-line;
        background: #ffbdbd;
    }
}

.item {
    height: auto;
    display: block;
}

.left {
    width: 100%;
    text-align: center;
    margin: 0;
}

.right {
    width: 100%;
    word-break: break-all;
}

.total {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 5px;
    display: block;
}

.content {
    &.open {
        position: absolute;
        top: 41px;
        left: 250px;
        width: ~"calc(100% - 250px)";
        height: ~"calc(100% - 41px)";
        padding: 10px;
        background: #f5f5f5;
    }
}

.taxed,
.help-line,
.required,
.donebtn,
#new-card,
.detail-total {
    display: none
}

.not-started {
    display: none;
}

.detail-total {
    .textedit,
    .textnonedit,
    .select {
        font-size: 19px;
        text-align: center;
        width: 100%;
        margin: 0;
        background: none;
        white-space: nowrap;
        border: none;
        position: relative;
        box-shadow: none;
        color: #006676;
        line-height: normal;
        .arrow-up {
            display: none
        }
    }
    .item {
        border-bottom: 1px solid #ccc;
    }
    .left {
        font-size: 14px;
        //
        width: 100%;
        text-align: center;
        margin: 0;
    }
}

#add-cc {
    display: flex;
    justify-content: space-between;
    color: #009bb3;
    font-size: 13px;
    .add-item {
        display: flex;
        align-items: center;
    }
    .link {
        font-style: italic;
        text-decoration: underline;
    }
}

.next {
    display: block;
}

.done {
    #my-cards {
        img,
        .radio,
        .head,
        .card:not(.active) {
            display: none
        }
    }
    .donebtn,
    .h2,
    .next,
    #add-cc {
        display: none
    }
    .item {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: flex-start;
        padding: 5px;
    }
    .right {
        width: auto;
    }
    .textedit,
    .textnonedit,
    .select {
        font-size: 13px;
        width: 105px;
        text-align: left;
        padding-left: 0;
        margin: 0;
        background: none;
        height: auto;
        white-space: normal;
        border: none;
        position: relative;
        box-shadow: none;
        color: #006676;
        line-height: normal;
        font-family: arial, sans-serif;
        .arrow-up {
            display: none
        }
    }
    .left {
        font-size: 13px;
        width: 105px;
        text-align: left;
        margin-right: 5px;
    }
    .taxed {
        background: whitesmoke;
        // padding: 5px;
        .left {
            color: black
        }
        .right {
            ;
            ont-weight: bold;
            font-size: 17px;
        }
    }
    .address-list {
        .address {
            .right {
                width: 100%;
            }
        }
        .email {
            .right {
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                padding: 0;
                white-space: nowrap;
            }
        }
        .item {
            flex-wrap: wrap
        }
        .left {
            display: none
        }
        .textedit,
        .textnonedit,
        .select {
            min-width: 0;
            width: auto;
            padding-right: 5px;
            white-space: normal;
            word-wrap: normal;
            word-break: normal;
            line-height: normal;
        }
    }
}

.step {
    padding: 10px;
    width: 250px;
}

.content {
    transition: width .5s, min-height .8s;
    position: relative;
}

#step-buy {
    display: none;
    transition: .3s
}

.review {
    #step-buy {
        display: block
    }
    .step {
        width: auto;
        padding: 0
    }
    .content {
        padding: 10px;
    }
    &.editable-subscribe {
        width: 600px;
    }
    .item {
        font-size: 14px;
        width: auto;
        .left {
            width: 150px
        }
    }
}

.req {
    .left {
        &:after {
            content: "*";
            color: #aa0000;
            margin-left: 1px
        }
    }
    .right {
        &.reqempty {
            transition: .2s;
            border-color: red;
        }
    }
}

#my-cards {
    width: 100%;
    .head {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
        .radio-head {
            .radio;
            &:before {
                display: none
            }
        }
    }
    .card-one {
        width: 150px
    }
    .card-two {
        flex-grow: 1;
    }
    .card-three {
        width: 100px;
        text-align: right;
    }
    .radio {
        img {
            width: 30px;
            vertical-align: middle;
            border: 1px solid grey;
        }
        width: 62px;
        padding-right: 5px;
        position: relative;
        &:before {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            content: "";
            display: inline-block;
            border: 1px solid #151f36;
            vertical-align: middle;
            margin-right: 5px;
            box-shadow: inset 0px 0px 4px white;
        }
    }
    .card {
        display: flex;
        align-items: center;
        border: 1px solid #909090;
        border-width: 0 1px 1px 1px;
        padding: 5px;
        transition: .3s;
        &:hover,
        &.active {
            background: @gold;
            .radio {
                &:before {
                    background: #151f36;
                }
                &:after {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    content: "";
                    border: 1px solid white;
                    top: 4px;
                    left: 2px;
                    position: absolute;
                    box-shadow: inset 0px 0px 1px white;
                }
            }
        }
    }
}
